<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>

<h1>Passengers List</h1>

<!-- Filter for passengers list data -->
<%= form_tag passengers_path, method: :get, class: "filter-form" do %>
  <%= label_tag :package_name, 'Package name:' %>
  <%= select_tag :package_name, options_for_select(@package_names, params[:package_name]), include_blank: true %>

  <%= label_tag :status, 'Status:' %>
  <%= select_tag :status, options_for_select(@statuses, params[:status]), include_blank: true %>

  <%= label_tag :age_group, 'Age:' %>
  <%= select_tag :age_group, options_for_select(['minor', 'adult'], params[:age_group]), include_blank: true %>

  <%= submit_tag "Filter" %>
<% end %>

<br>

<!-- Filter for sending passenger emails. This will send to all passengers if no filter options are set -->
<%= form_tag email_passengers_path, method: :post, class: "send-email-form" do %>
  <%= hidden_field_tag :package_name, params[:package_name] %>
  <%= hidden_field_tag :status, params[:status] %>
  <%= hidden_field_tag :age_group, params[:age_group] %>

  <%= submit_tag "Send email/message to selection" %>
<% end %>

<br><br>

<table>
  <thead>
    <th>Passenger ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Package</th>
    <th>Status</th>
  </thead>

  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.passenger_id %></td>
        <td><%= passenger.name %></td>
        <td><%= passenger.age %></td>
        <td><%= passenger.package.name if passenger.package.present? %></td>
        <td><%= passenger.status %></td>
        <td><%= link_to "View details", passenger_path(passenger) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back to Import CSV page", root_path %>
