<p style="color: green"><%= notice %></p>

<table>
  <thead>
    <th>Passenger ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th>Age</th>
    <th>Package</th>
    <th>Status</th>
  </thead>

  <tbody>
    <tr>
      <td><%=@passenger.passenger_id %></td>
      <td><%=@passenger.name%></td>
      <td><%=@passenger.email%></td>
      <td><%=@passenger.gender%></td>
      <td><%=@passenger.date_of_birth%></td>
      <td><%= Date.today.year - @passenger.date_of_birth.year %></td>
      <td><%=@passenger.package.name%></td>
      <td><%=@passenger.status%></td>
    </tr>
  </tbody>
</table>

<h4>Messages History</h4>

<% @passenger.messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<br>

<%= link_to "Back to passengers list", passengers_path %></p>
